* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* Estilo do menu dash */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo {
    font-size: 30px;
    color: #333;
    font-weight: 600;
}

.logo a {
    text-decoration: none;
    color: #333;
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

/* Estilo do main topo dash */

main .infos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    margin: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main .infos .container_dash {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .infos .container_dash .btn_cad_user a {
    text-decoration: none;
}

main .infos .container_dash .btn_cad_clientes a i {
    font-size: 20px;
    color: #333;
    font-size: 25px;
}

main .content_dash {
    padding: 20px 50px;
    background-color: #fff;
    margin: 20px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main .content_dash .container_dash table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}